<!-- <ion-header class="ion-no-border">
  <div class="header-top-border">
    <div class="part"></div>
    <div class="part"></div>
    <div class="part"></div>
    <div class="part"></div>
  </div>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button iconOnly fill="clear" size="small" (click)="close()">
        <ion-icon name="close" style="color: #D7262A;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="header"
              color="dark" [innerHTML]="header">
    
  </ion-label>

  <div class="content">
    <ion-label class="title" [innerHTML]="title">
      
    </ion-label>

    <img [src]="image" *ngIf="!isLottie" class="gif"/>
    <img [src]="layoverImage" class="layover" *ngIf="layoverImage" />
    <lottie-animation-view *ngIf="isLottie"
                [options]="lottieConfig"
                [width]="210"
                [height]="210">
    </lottie-animation-view>
    <br />
    <br />
    <br />
    <ion-label class="text" [innerHTML]="description">
      
    </ion-label>
  </div>
</ion-content>

<ion-footer
 class="ion-no-border"  style=" padding-left: 15px;
padding-right: 15px;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button iconOnly 
                  [fill]="buttonsAreActions ? 'outline' : 'clear'"
                  color="dark"
                  (click)="fail()"
                  [ngClass]="{ 'is-action': buttonsAreActions }">
        {{backButtonText}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button iconOnly
                  [fill]="buttonsAreActions ? 'solid' : 'clear'"
           
                  (click)="success()"
                  [ngClass]="{ 'is-action': buttonsAreActions }">
        {{continueButtonText}}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer> -->
<ion-header class="ion-no-border">
  <div class="header-top-border">
    <div class="part"></div>
    <div class="part"></div>
    <div class="part"></div>
    <div class="part"></div>
  </div>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button iconOnly fill="clear" size="small" (click)="close()">
        <ion-icon name="close" style="color: #D7262A;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="header" color="dark" [innerHTML]="header">
  </ion-label>
  <div class="content">

    <ion-label class="title" [innerHTML]="title">

    </ion-label>

    <img [src]="image" *ngIf="!isLottie" class="gif" />
    <img [src]="layoverImage" class="layover" *ngIf="layoverImage" />
    <lottie-animation-view *ngIf="isLottie" [options]="lottieConfig" [width]="210" [height]="210" [margin]="12">
    </lottie-animation-view>
    <!-- <br />
    <br />
    <br /> -->


  </div>
  <div class="bottom-text">
    <ion-label class="text" [innerHTML]="description">
    </ion-label>
</div>
</ion-content>


<ion-footer class="ion-no-border" style=" padding-left: 15px;
padding-right: 15px;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button iconOnly [fill]="buttonsAreActions ? 'outline' : 'clear'" color="dark" (click)="fail()"
        [ngClass]="{ 'is-action': buttonsAreActions }">
        {{backButtonText}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button iconOnly [fill]="buttonsAreActions ? 'solid' : 'clear'" (click)="success()"
        [ngClass]="{ 'is-action': buttonsAreActions }">
        {{continueButtonText}}
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-footer>

