<ion-content [fullscreen]="true">
    <div class="Splashscreen-background">
        <div class="Rectangle-1814">
            <ion-img src="assets/logo.png"></ion-img>
        </div>
        <div class="Path-5023"><span>Blu</span></div>
        <div class="Path-5024">Assist</div>
        <div class="path-5023">
            <p class="By-signing-up-you-agree-to-our-TCs-and-Privacy-Policy">
                By signing up, you agree to our<br /> T&Cs and Privacy Policy
            </p>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="path-5022">
            <ion-button expand="block" fill="outline" color="light" (click)="login()"><span>get started</span></ion-button>
        </div>
        <div class="path-5021">
            <span class="Have-you-read-our-TCs-and-Privacy-Policy">
        Have you read our
        <span class="text-style-1">T&C’s</span> and
            <span class="text-style-1">Privacy Policy</span>?
            </span>
        </div>
    </ion-toolbar>
</ion-footer>