
<ion-header>
  <ion-toolbar>
      <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header> 
<ion-content fullscreen="true" #content>
  <app-custom-slides-pager [slider]="slider" [content]="content">
  </app-custom-slides-pager>

  <div class="slider">
    <ion-slides #slider [options]="slideOpts">
      <ion-slide>
        <div class="information-header">
          Were <strong>dangerous goods carried?</strong>
        </div>

        <div class="information-subheader">
          Please tap the options best suited
        </div>

        <app-icon-radio-list-component [options]="goodsCarriedOptions"
          (selectionChanged)="saveSelection($event, 'GoodsCarried')"></app-icon-radio-list-component>
      </ion-slide>
      <ion-slide>
        <div class="information-header">
          Did <strong>spillage occur?</strong>
        </div>

        <ion-label class="information-subheader">
          Please tap the options best suited
        </ion-label>

        <app-icon-radio-list-component [options]="spillageOptions"
          (selectionChanged)="saveSelection($event, 'Spillage')"></app-icon-radio-list-component>
      </ion-slide>
      <ion-slide>
        <div class="information-header">
          Did <strong>vapour / gas emissions occur?</strong>
        </div>

        <ion-label class="information-subheader">
          Please tap the options best suited
        </ion-label>

        <app-icon-radio-list-component [options]="gasEmissionOptions"
          (selectionChanged)="saveSelection($event, 'GasEmission')"></app-icon-radio-list-component>
      </ion-slide>
      <ion-slide>
        <div class="information-header">
          Dangerous goods <strong>placard displayed on the vehicle?</strong>
        </div>

        <ion-label class="information-subheader">
          Please tap the options best suited
        </ion-label>

        <app-icon-radio-list-component [options]="placardOptions"
          (selectionChanged)="saveSelection($event, 'Placard')"></app-icon-radio-list-component>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<app-page-footer (back)="backClicked()" (next)="nextClicked()"></app-page-footer>