<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <div class="bluebg">
            <ion-row style="color: white; font-size: 20px;">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-row>
            <div class="Rectangle">
                <ion-row>

                    <ion-col size="6">

                        <ion-item>
                            <ion-radio value="cord"></ion-radio>
                            <ion-label>
                                <ion-img src="assets/Mastercard.png" class="mastercard"></ion-img>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-radio value="cord"></ion-radio>
                            <ion-label>
                                <ion-img src="assets/Visa.png" class="mastercard"></ion-img>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-radio value="cord"></ion-radio>
                            <ion-label>
                                <ion-label class="Debit-Card">Debit Card</ion-label>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-radio value="cord"></ion-radio>
                            <ion-label>
                                <ion-label class="Debit-Card">EFT</ion-label>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-img src="assets/revio.png"></ion-img>Revio</ion-col>
                </ion-row>
            </div>
        </div>
    </div>
    <div class="Rectangle-1766 ">
        <span class="Personal-Details ">
        Name on Card
</span>
    </div>



    <div class="Rectangle-1766 ">
        <span class="Personal-Details ">
        Card Number
    </span>
    </div>

    <ion-row>
        <ion-col size="6" class="Rectangle-1766 ">
            <ion-input style="--padding-start: 0;" type="text " placeholder="Expiry/Validity "></ion-input>
        </ion-col>
        <ion-col size="6" class="Rectangle-1766 ">
            <ion-input style="--padding-start: 0;" type="number " placeholder="CVV "> </ion-input>
        </ion-col>
    </ion-row>
    <div class="bg">

        <ion-row>
            <ion-col size="6">
                <span class="Total-Amount-Due-R220000">
          Total Amount Due                                 

          
        </span>
            </ion-col>
            <ion-col size="6" style="text-align: end;">
                <span class="Total-Amount-Due-R220000">

        R2200.00</span>
            </ion-col>

        </ion-row>
    </div>
    <div class="Group-3725 ">
        <ion-button expand="block " color="primary ">
            <span class="UPDATE-INFORMATION ">
    PayNow
    </span>
        </ion-button>
    </div>
</ion-content>