<div class="modal-color" style="padding: 10px">
  <div class="top-section">
    <div><ion-icon name="close-outline" (click)="close()"></ion-icon></div>
    <div style="text-align: center">
      <span class="Terms-and-Conditions">
        Terms and Conditions
      </span>
    </div>
  </div>
  <div class="center-section">
   <p>
    I/We understand that the  completion of 
this form does not bind the Company 
to payment of any report. I/We further
declare that the foregoing  particulars 
are true in every respect and that  I/we 
have not withheld from the Company
any information connected with  the  loss.
   </p>
  </div>
  <div class="Group-3725">
    <ion-button expand="block" color="primary" (click)="nextBtn()">
        <span> I ACCEPT </span>
    </ion-button>
  </div>
</div>
