<div class="modal-color">
  <div>
    <span class="EMERGENCY">Coming soon</span>
    <div class="car-div">
      <ion-img class="car-image" src=" assets/shop-2.jpg "></ion-img>

    </div>

    <div class="Group-2714">
      <span class="Please-be-sure-to-answer-your-phone-And-do-your-best-to-ensure-your-safety">
        You can buy all the prodcut here 
      </span>
    </div>

    <div class="Group-3725">
      <ion-button expand="block" fill="outline" color="primary" (click)="close()">
        <span class="cancel-text"> Cancel </span>
      </ion-button>
    </div>
    
  </div>
</div>