<ion-header>
  <ion-toolbar>
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="name"><span class="Personal-Information">
      Accident details
    </span></div>
  <div class="bg">
    <span class="Your-list-should-include-anyone-who-needs-to-be-notified-of-an-emergency-This-list-shouldnt-be-li">
      Please select an accident report or enter the <br>
      details of the accident reported.
    </span>
  </div>
  <div class="Group-3739">
    <div>
      <ion-row class="ionrow">
        <ion-col size="5">AR12012201 - 12-01-2022</ion-col>
        <ion-col size="5" class="end"> 123 ABC GP</ion-col>
        <ion-col size="2" class="end">
          <ion-checkbox color="success" checked="true" mode="ios"></ion-checkbox>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-row style="margin-top: 17px;" class="ionrow">
        <ion-col size="5">AR12012201 - 12-01-2022</ion-col>
        <ion-col size="5" class="end"> 123 ABC GP</ion-col>
        <ion-col size="2" class="end">
          <ion-checkbox color="success" checked="true" mode="ios"></ion-checkbox>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-label class="label">Where did it happen?</ion-label>
      <ion-input type="text " placeholder="Where did it happen?"></ion-input>

      <ion-row>
        <ion-col size="5">
          <ion-label class="label">Date of incident</ion-label>
          <ion-input type="text "        placeholder="date of incident"
          ></ion-input>
        </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="5">
          <ion-label class="label">SAPS No</ion-label>
          <ion-input type="number " placeholder="SAPS No"> </ion-input>
        </ion-col>
      </ion-row>
      <ion-label class="label">Tell us what happened</ion-label>
      <ion-input type="text" placeholder="Tell us what happened"></ion-input>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="Group-3725 ">
      <ion-button expand="block " fill="outline " color="primary " [routerLink]="[ '/add-vehicle'] ">
        <span class="UPGRADE-PACKAGE ">
          ADD DEVICE
        </span>
      </ion-button>
    </div>
    <div class="Group-3725 ">
      <ion-button expand="block " color="primary " (click)=" goBack() ">
        <span class="UPDATE-INFORMATION ">
          Back
        </span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
