<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="divicon">
        <div class="Ellipse-355">
            <ion-icon name="checkmark-outline"></ion-icon>
        </div>
    </div>
    <div class="center-text style-remove-1">
        <span class="Welcome-to-247-Assist"> Welcome to Blu Assist </span>
    </div>
    <div class="Rectangle-1805 style-remove-2">
        <span class="You-have-successfully-logged-in">
            Your information has been updated
        </span>
    </div>
    <!-- <div class="Rectangle-1805 style-remove-3">
        <span class="You-will-received-confirmation-via-email-Shortly-Please-verify-you-email-address-using-the-link-pr">
      You will receive confirmation via email<br>
    shortly. Please verify your updated information
    </span>
    </div> -->

</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="Group-3725 ">
            <ion-button expand="block" color="primary" (click)="finishHome()">
                <span>
                    HOME
                </span>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>