<ion-content (click)="close()">
  <div class="modal-border-css">
    <div class="modal-color">
      <span class="EMERGENCY"> Panic Activated </span>
      <ion-img
        src="assets/contents_call_me_back.png"
        style="height: 17vh; padding: 8px"
      ></ion-img>
      <div class="Group">
        <span class="We-will-call-you-shortly"> We will call you shortly </span>
      </div>
      <div class="Group-2714">
        <span
          class="Please-be-sure-to-answer-your-phone-And-do-your-best-to-ensure-your-safety"
        >
          Please be sure to answer your phone And do your best to ensure your
          safety.
        </span>
      </div>
      <div class="Group-3725">
        <ion-button expand="block" color="primary" (click)="close()">
          <span> okay </span>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
