<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="name">
        <span class="Personal-Information"> Upgrade Package </span>
    </div>
    <div class="name-text">
        <span class="Select-a-package-that-suits-you">
      Select a package that suits you.
    </span>
    </div>
    <div class="ioncard">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle><span class="Standard--"> Standard -</span>
                    <span class="R39-pm"> R39 p.m </span></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-row>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Fines Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Roadside Security </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Armed Response </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="close-outline" style="color: red"></ion-icon>
                        <span class="Fines-Assist"> Roadside Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Licence Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="close-outline" style="color: red"></ion-icon>
                        <span class="Fines-Assist"> Pothole Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Private Medical Response </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="close-outline" style="color: red"></ion-icon>
                        <span class="Fines-Assist"> RAF Assist </span>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle><span class="Standard--"> Driver Assist -</span>
                    <span class="R39-pm"> R59 p.m </span></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-row>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Fines Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Roadside Security </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Armed Response </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Roadside Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Licence Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Pothole Assist </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> Private Medical Response </span>
                    </ion-col>
                    <ion-col size="6">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="Fines-Assist"> RAF Assist </span>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="two-buttons">
        <div class="Group-3725">
            <ion-button expand="block" fill="outline" color="primary" (click)="goBack()">
                <span> BACK </span>
            </ion-button>
        </div>
        <div class="Group-3725">
            <ion-button expand="block" color="primary" (click)="login()">
                <span> Next </span>
            </ion-button>
        </div>
    </div>
</ion-content>