<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" iconOnly>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms of use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-bottom: 50px;width: 327px;display: block;margin: auto;">
    <p>
      By submitting your details and/or using the Smash’d App you accept the terms and conditions below and explicitly consent to the collection, processing, use and disclosure of your personal information for the purpose of reporting a motor vehicle accident, Zen City (Pty) Ltd will not be liable for any loss or damage, howsoever arising, suffered by you as a result of the disclosure of such information to the third parties.
    </p>
    <p>
      Any use of the Smash’d App, its information, products or services is at your own risk.
    </p>
    <p>
      Whilst shall at all times use our best efforts to ensure that the Smash’d App operates in the manner that it was designed, no warranty is given that the related services are compatible, or will operate, with any mobile device or any software/hardware. No representation or warranty is given, whether express or implied, as to the operation, integrity, availability or functionality of the Smash’d App or as to the accuracy, completeness or reliability of any information obtained from this App, or that the Smash’d App is free of any viruses, destructive materials or any other data or code which is able to corrupt, compromise or jeopardise the operation or content of mobile devices, network or your hardware or software.
      Any error(s), omission(s) or delay(s) that could occur as a result of inability to access the App or related services due to error(s) either involving a mobile device, software or third-party service provider remains the responsibility of the User.
      Notwithstanding the provisions of the Electronic Communications Transactions Act (25/2002, as amended), , Zen City (Pty) Ltd accepts no liability whatsoever relating to any loss, expense, claim or damage, whether direct, indirect or consequential, arising from the use and/or reliance upon the information on the Smash’d App or any actions or transactions resulting there from even if we have been advised of the possibility of such loss, expense, claim or damages.
      In our sole & absolute discretion, at any time, suspend, discontinue, disable or terminate the operation of the Smash’d App or any of the products or services provided, without prior notice. 
      Use of the App and any related products or services shall be governed by, and in all respects shall be construed, in accordance with the laws of South African laws.
    </p>
    <p>
      All our rights remain reserved
    </p>
    <ion-button color="primary" expand="block" (click)="dismiss()">Back</ion-button>
  </div>
</ion-content>
