// .logodiv{
//   display: flex;
//   .logoimg{
//     margin: auto;
//     width: auto;
//     height: 50px;
//   }
// }
ion-menu {
  ion-content,
  ion-footer {
    --padding-start: 0;
    --padding-end: 0;
    padding: 0;
  }
  ion-content {
    .menu-toolbar {
      padding-top: var(--ion-safe-area-top, 0);
    }
    ion-list {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    ion-toolbar {
      height: 76px;
      --min-height: 76px;
      .color-border {
        height: 7px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        // .part {
        //   width: 25%;
        //   height: 100%;
        //   float: left;

        //   &:nth-of-type(1) {
        //     background-color: #665eff;
        //   }
        //   &:nth-of-type(2) {
        //     background-color: #5773ff;
        //   }
        //   &:nth-of-type(3) {
        //     background-color: #3497fd;
        //   }
        //   &:nth-of-type(4) {
        //     background-color: #3acce1;
        //   }
        // }
      }
    }
  }
  ion-list {
    width: 100%;
    padding: 0;
    ion-item {
      --padding-start: 20px;
      height: 64px;
      width: 100%;

      .icon {
        width: 40px;
        img {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

ion-title {
  padding-left: 0;
}

ion-header {
  ion-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 100%;
    z-index: 0;

    .toolbar-logo {
      height: 40px;
      width: auto;
      display: block;
      position: relative;
      margin: auto;
      left: 0px;
    }

    &.ios {
      .toolbar-logo {
        left: 0;
      }
    }
  }

  .menu-navigation-button {
    img, ion-icon {
      position: absolute;
    }
  }
}

.welcome-header {
  padding-right: 0;
}
