<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="divicon">
        <div class="Ellipse-355">
            <ion-icon name="checkmark-outline"></ion-icon>
        </div>
    </div>
    <div class="center-text">
        <span class="Successfully-Submitted"> Successfully Submitted </span>
    </div>
    <div class="Rectangle-1805">
        <span class="Ref-STRAF001">
          Ref: STRAF001
    </span>
        <div class="Path-4876"></div>
    </div>
    <div class="Rectangle-1805">
        <span class="You-will-received-confirmation-via-email-Shortly-Please-verify-you-email-address-using-the-link-pr">
          One of our highly trained agents<br>
          will contact you to complete your claim.<br>
           Please look out for an email with your <br>
          Claim details.
    </span>
    </div>


    <ion-footer class="footer">
        <div class="Group-3725">
            <ion-button expand="block" color="primary" (click)="login()">
                <span class="UPDATE-INFORMATION">
      FINISH
    </span>
            </ion-button>
        </div>
        </ion-toolbar>
    </ion-footer>


</ion-content>