<div class="modal-color">
  <div>
    <span class="EMERGENCY">   Your Plan </span> <br>
    <ion-label class="fullname"> Hello!!  {{ fullName }}<br />
      <span class="pacakge-d">{{subscriptionType}}</span>
    </ion-label>

    <div class="Group-2714">
      <span class="Please-be-sure-to-answer-your-phone-And-do-your-best-to-ensure-your-safety">
      
      </span>
    </div>

    <div class="Group-3725">
      <ion-button (click)="close()" expand="block" fill="outline" color="primary" >
        <span> Cancel </span>
      </ion-button>
    </div>
    <div class="Group-3725" >
      <ion-button expand="block ">
        <span class="UPDATE-INFORMATION">
          Upgrade Plan
        </span>
      </ion-button>
    </div>
  </div>
</div>