<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="divicon">
        <div class="Ellipse-355">
            <ion-icon name="checkmark-outline"></ion-icon>
        </div>
    </div>
    <div class="center-text">
        <span class="Welcome-to-247-Assist"> Successfully Submitted </span>
    </div>
    <div class="Rectangle-1805 style-remove-1">
        <span class="You-have-successfully-logged-in"> Ref: {{refNum}} </span>

    </div>
    <div class="Rectangle-1805">
        <span class="You-will-received-confirmation-via-email-Shortly-Please-verify-you-email-address-using-the-link-pr">
      One of our highly trained agents<br />
      will contact you to complete your claim.<br />
      Please look out for an email with your <br />
      claim details.
    </span>
    </div>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="Group-3725">
            <ion-button expand="block" color="primary" [routerLink]="['/tabs/profile']">
                <span> FINISH </span>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>