<ion-content>
    <div class="popup-border">

  <div class="modal-color style-remove-1 ">
      <!-- <div class="top-section ">
          <div>
              <ion-icon name="close-outline" (click)="close() "></ion-icon>
          </div>
          <div class="style-remove-2 ">
              <span class="Start-Your-Pothole-Claim" ></span>
          </div>
      </div> -->

      <div class="top-section">
        <ion-row>
            <ion-col class="ion-coli" size="10">
                <div>
                    <span class="Start-Your-Pothole-Claim">  Shake to Panic </span>
                </div>
            </ion-col>
            <ion-col class="size" size="2">
                <div>
                    <ion-icon name="close-outline" (click)="close()"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </div>

      <div class="center-section ">
          <p class="shake-alrt-content">When this service is active, it will
            automatically trigger a panic call when your
            mobile device is shaken or dropped.</p>
            <img src="assets/panicalrt.svg" alt="panic-phone-image" class="panic-phone-image"/>
          <div class="Group-3725 ">
              <ion-button expand="block " color="primary " (click)="lockshop() ">
                  <span> ACTIVATE SERVICE </span>
              </ion-button>
          </div>
      </div>

  </div>
</div>

  </ion-content>
