<div class="location-wrapper">
  <ion-button  iconOnly (click)="getCurrentLocation()" [disabled]="isGeoCodingResult">
    <img src="assets/icons/location.svg" *ngIf="!isGeoCodingResult" />
    <ion-spinner name="crescent" *ngIf="isGeoCodingResult"></ion-spinner>
  </ion-button>
  <span class="spacer"></span>
  <div class="input-wrapper">
    <ion-input placeholder="Your Location"
              class="small"
              [(ngModel)]="locationAddress"
              debounce="350"
              [disabled]="isGeoCodingResult"
              (ionChange)="autoCompleteLocation()"
              (ionFocus)="autoCompleteFocusChange()"
              autocapitalize="true"></ion-input>
    <!-- <ion-button iconOnly fill="clear" *ngIf="!locationAddress" (click)="locationAddress = ''">
      <img src="assets/icons/close.svg" />
    </ion-button> -->
  </div>
  
  <ion-list class="autocomplete" *ngIf="autoCompleteResults.length > 0">
    <ion-item *ngFor="let suggestion of autoCompleteResults" button="true" (click)="selectAutoComplete(suggestion)">
      <ion-label class="extra-small">{{suggestion.Address}}</ion-label>
    </ion-item>
  </ion-list>
  <span class="spacer"></span>
  <ion-button slot="end" fill="clear" iconOnly (click)="shareLocation()">
    <img src="../assets/icons/share-red.svg" />
  </ion-button>
</div>