<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="TitleDesp">
        <span class="The-Right-Address-For-Your-Online-Shopping">
      The Right Address <br>
    For Your Online<br>
    Shop
    </span>
    </div>
    <div class="textcenter">
        <span class="It-is-now-very-easy-to-reach-the-best-quality-among-all-the-products-on-the-internet">
      It is now very easy to reach<br> the best quality among all<br> the products on the internet!
    </span>
    </div>


</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="Group-3725">
            <ion-button expand="block" color="primary" [routerLink]="['/shop-one']">
                <span> NEXT </span>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>