ion-footer {
    box-shadow: var(--box-shadow);
    background-color: var(--ion-color-light);
    padding-left: 20px;
    padding-right: 20px;
}
ion-footer .ios{
  
    padding-left: 0px;
    padding-right: 0px;
}