<div class="modal-color">
  <div>
    <span class="EMERGENCY"> Additional Member </span>
    <div class="upgrde">
      <ion-img class="car-image" src=" assets/upgradePlan.png"></ion-img>

    </div>

    <div class="Group-2714">
      <span class="Please-be-sure-to-answer-your-phone-And-do-your-best-to-ensure-your-safety">
        Sorry you are a referred member You don't have acces to perform this operation </span>
    </div>

    <div class="Group-3725">
      <ion-button expand="block" fill="outline" color="primary" (click)="close()">
        <span> Cancel </span>
      </ion-button>
    </div>
    <!-- <div class="Group-3725" (click)="upgradePlan()">
      <ion-button expand="block ">
        <span class="UPDATE-INFORMATION">
          Upgrade Plan
        </span>
      </ion-button>
    </div> -->
  </div>
</div>