<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="divicon">
        <div class="Ellipse-355">
            <ion-icon name="checkmark-outline"></ion-icon>
        </div>
    </div>
    <div class="center-text">
        <span class="Welcome-to-247-Assist"> Welcome to BluAssist </span>
    </div>
    <div class="Rectangle-1805 Rectangle-1804">
        <span class="You-have-successfully-logged-in">
            You have successfully logged in
        </span> 
    </div>
    <!-- <div class="Rectangle-1805">
        <span class="You-will-received-confirmation-via-email-Shortly-Please-verify-you-email-address-using-the-link-pr">
      You will receive confirmation via email<br />
      shortly. Please verify your updated information
    </span>
    </div> -->

</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>

        <div class="Group-3725 Group-3724">
            <!-- <ion-button expand="block" fill="outline" color="secondary" (click)="upgrade()">
                <span> UPGRADE PACKAGE </span>
            </ion-button> -->
        </div>
        <div class="Group-3725">
            <ion-button expand="block" color="primary" (click)="login()">
                <span> UPDATE INFORMATION </span>
            </ion-button>
            <div class="bg-text">
                <span (click)="notRightNow()" class="Not-Right-Now">
                    Not Right Now
                </span>
            </div>
        </div>

    </ion-toolbar>

</ion-footer>