<ion-header>
    <ion-toolbar>
        <ion-img src="assets/logo.png"></ion-img>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="name"><span class="Personal-Information">
      Your Order is Complete
</span></div>

    <div class="TitleDesp">
        <img src="assets/Texture.png">
        <img src="assets/SHOPCONFIRMATIONcheck.png" class="check">
    </div>

    <div class="products">
        <span class="products-on-the-internet">It is now very easy to reach the best <br>quality among all the products on <br>the internet!</span>
    </div>
  
</ion-content>
<ion-footer style="padding: 20px;">
    <div class="Group-3725 ">
        <ion-button expand="block " color="primary " [routerLink]="[ '/tabs/profile'] ">
            <span>HOME</span>
        </ion-button>
    </div>
</ion-footer>