ion-toolbar {
    // height: 35px;
    --background: #0034A9;
    text-align: center;
    color: #fff;
    ion-img {
        height: 35px;
    }
}

.Group-3739 {
    padding: 30px 0px 28px;
    ion-input{
        margin-bottom: 20px;
    }
    
}
.label {
    font-size: 14px;
    text-align: left;
    color: #444;
}

